.about-main {
  flex: 1; 
}

.about-site{
  box-sizing: border-box;
  margin:20px 0px 20px 0px;
  padding:13px;
  border-radius:17px;
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.023), rgba(255, 255, 255, 0));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);  
  border:1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  transition: transform 0.5s ease, box-shadow 0.2s ease;

  
}

.about-site:hover{
  transform: scale(1.02);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.about-dev{
  box-sizing:border-box;
  margin:35px 0px 20px 0px;
  /* border:2px solid red; */
  padding:13px;
  border-radius:17px;
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.023), rgba(255, 255, 255, 0));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);  
  border:1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  transition: transform 0.5s ease, box-shadow 0.2s ease;

}

.about-dev:hover{
  transform: scale(1.02);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.social-icons{
  display:flex;
  justify-content: center;
}
.linkedin-link{
  margin-top:10px;
}

.para-1{
  font-size:17px;
}