.navbar {
  background-color:#0F0F0F;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.navbar-brand a {
  font-size: 1.5rem;
  font-weight: bold;
  color:#FDF12F;
  
}

.navbar-links {
  display: flex;
  gap: 2rem;
}

.nav-link {
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  transition: transform 0.2s ease, box-shadow 0.2s ease, background-color 0.2s;
  color:white;
}

.nav-link:hover {
  color:#FDF12F;
  background-color: rgba(255, 255, 255, 0.1);
  transform:scale(1.1);
}

.burger-icon{
  padding-top:0.22rem;
  font-size:2.43rem;
  display: none;
  /* color:#FDF12F; */
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.burger-icon:hover{
  transform: scale(1.2);
}

.search-icon{
  /* display:none; */
  /* color:#FDF12F; */
  font-size:1.92rem;
  transition: transform 0.2s ease, box-shadow 0.2s ease;

}
.search-icon:hover{
  transform: scale(1.2);
}

.navbar-search{
  margin-top: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 0.6;
}




.search-form {
  width: 100%;
  
  display: flex;
  gap: 1rem;
  padding: 0 1rem;
  box-sizing: border-box;
  
  background-color: #333;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-radius: 8px;
  


}

.search-input {
  flex: 1;
  padding: 0.75rem 0.8rem;
  border: none;
  border-radius: 6px;
  background-color: transparent;
  color: white;
  font-size: 1rem;
  height:37px;
}

.search-input:focus {
  outline: none;
  box-shadow: none;
}

.search-button {
  font-size: 1rem;
  padding: 0.3rem 1.3rem;
  height:37px;
  background-color:#FDF12F;
  color: black;
  border-radius: 6px;
  font-weight: 500;
  transition: background-color 0.2s;
  white-space: nowrap;
  border: none; 
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.search-button:hover {
  transform: scale(1.05);
}


.search-button:focus-visible {
  outline: none;
  box-shadow: 0 0 0 2px #dad005;
}




.dropdown-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #0F0F0F;
  z-index: 2000;
  display: flex;
  flex-direction: column;
  justify-content:flex-start;
  align-items: center;

  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(10px);  
  border:1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);

}

.dropdown-link {
  padding: 1rem 1.5rem;
  color: white;
  text-decoration: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  transition: background-color 0.2s;
  width:100vw;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  
  
}

.dropdown-link:hover {
  background-color: rgba(255, 255, 255, 0.1);
  color:#FDF12F;
  transform: scale(1.02);
}
/* hello */

.close-btn{
  margin-top:0.7rem;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  border: none;
  color: white;
  background-color: #0F0F0F;

}

.close-btn:hover{
  transform: scale(1.1);
  color:#FDF12F
}

.search-icon{
  display:none}

  .search-form2{
    display: none;
  }

  .mobile-search {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1999;
  width: 100vw;
  height: 100vh;
  background-color: #0F0F0F;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 2rem;

  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(10px);  
  border:1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.search-form2 {
  width: 90%;
  max-width: 500px;
  margin-top: 2rem;
  display: flex;
  gap: 1rem;
  background-color: #333;
  padding: 0.6rem;
  border-radius: 8px;
}

.search-input2 {
  flex: 1;
  padding: 0.6rem 0.8rem;
  border: none;
  border-radius: 6px;
  background-color: transparent;
  color: white;
  font-size: 1rem;
}

.search-input2:focus {
  outline: none;
  box-shadow: 0 0 0 2px #666;
  border: none;
  box-shadow: none;
}

.search-icon {
  display: none;
}

.close-btn2{
  background-color: #0F0F0F;
  color:white;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  border: none;
}

.close-btn2:hover{
  transform: scale(1.1);
  color:#FDF12F
}

@media (max-width: 768px) {
  .navbar {
    padding: 1rem;
  }

  .navbar-brand {
    font-size: 1.2rem;
  }

  .navbar-links {
    gap: 1rem;
  }

  .nav-link {
    padding: 0.5rem;
  }
  
}

@media(max-width:1111px){
  .search-button{
    display: none;
  }

  .burger-icon{
    display: block;
  }

  .nav-op{
    display: none;
  }

  
}

@media(max-width:770px){
  .navbar-search{
    display: none;
  }

  .navbar-brand{
    margin-left:1rem;
  }

  .burger-icon{
    margin-right:1rem;
    margin-left:1.5rem;

  }
  .search-icon {
    display: block;
    cursor: pointer;
    margin-left:auto ;
  }

  .navbar-search {
    display: none;
  }
}

@media (max-width:639px){
  .navbar{
    padding:1rem 0rem 1rem 0rem;
  }
  .navbar-brand{
    margin-left:1rem;
  }
  .burger-icon{
    margin-right: 1rem;
  }
}